<div class="container">
    <div class="col-md-8 mx-auto">
        <center>
            <h1>About</h1>
            <p>This is a Node/Express app build that takes user input, connects to the Phorest API, returns a list of clients matching the search parameters and allows you to add a vocuher to your selected client.</p>
            <p>Version: 1.0.0</p>
        </center>
    </div>
</div>