<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Welcome to Phorest!</h1>
        <p>Phorest is a award-winning management system for salons and spas. With Phorest you can power up your business. The Phorest system allows you to manage client bookings, manage stock, staff systems and much more!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
</div>
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Scheduling</h2>
          <p>With Phorest you can schedule clients with ease. This simple system allows staff to quickly book apointments. The system will save you both time and money. Upgrade your business today.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Marketing</h2>
          <p>The Phorest system comes with a full suite of tools to help you expand your business. These tools allow you to market your salon to more people than ever.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Staff Management</h2>
          <p>The Phorest staff management system allows you to manage your staff like never before. This system allows you to track staff performance, set goals and targets and much more.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© Company 2019</p>
      </footer>
    </div>